@page
@model GestionHopital.Pages_Prescriptions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Prescription.Id" class="form-control" type="hidden" placeholder="">
            <div class="form-floating mb-3">
                <input asp-for="Prescription.prescription" class="form-control" />
                <label asp-for="Prescription.prescription" for="floatingInput"></label>
                <span asp-validation-for="Prescription.prescription" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Prescription.ConsultationId" class= "form-select" asp-items="ViewBag.ConsultationId"></select>
                <label for="floatingInput">Consultation</label>
                <span asp-validation-for="Prescription.ConsultationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-page="Index"class="btn btn-secondary">Retour</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
